* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 72px 104px;
  background: #121214;
  display: grid;
  place-content: center;
  font-family: "Mulish", sans-serif;
}

header h1 {
  color: #02799d;
  font-size: 56px;
  font-weight: 900;
}

header p {
  color: #e1e1e6;
  font-size: 32px;
  font-weight: 600;
}

main {
  margin-top: 62px;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  gap: 40px 60px;
  place-content: center;
}

.card {
  background-color: #202024;
  border: 2px solid #323238;
  border-radius: 8px;
  overflow: hidden;
}

.card h2 {
  color: #e1e1e6;
  font-weight: 900;
  font-size: 36px;
  padding: 24px 32px 0;
}

.card p {
  font-size: 18px;
  color: #c4c4cc;
  font-weight: 600;
  padding: 24px 32px 32px;
}
